.place__title {
  margin-top: 120px;
  margin-bottom: 210px;
  margin-left: 120px;
  margin-right: 0;
  font-size: 52px;
}

@media screen and (max-width: 1536px) {
  .place__title {
    margin-top: 90px;
    margin-left: 80px;
    margin-bottom: 160px;
    font-size: 3.52vw;
  }
}

@media screen and (max-width: 1366px) {
  .place__title {
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 140px;
    font-size: 3.29vw;
  }
}

@media screen and (max-width: 1280px) {
  .place__title {
    margin-top: 50px;
    margin-left: 65px;
    margin-bottom: 100px;
    font-size: 2.73vw;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 2.95vw;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: 80px;
    font-size: 5.30vw;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 80px;
    font-size: 6.76vw;
  }
}

@media screen and (max-width: 420px) {
  .place__title {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 6.25vw;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 20px;
  }
}