.places {
  margin-top: 154px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    flex-direction: row;
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .places {
    margin-top: 80px;
  }
}