.header__menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__menu {
    margin-top: 20px;
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__menu {
    margin-top: 20px;
  }
}