.place__image {
  grid-area: image;
  width: 50vw;
  max-width: 960px;
  max-height: 960px;
  height: 50vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 320px) and ( max-width: 767px) {
  .place__image {
    max-height: 767px;
    max-height: 767px;
    min-width: 320px;
    min-height: 320px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px) {
  .place__image {
    margin: 0;
    max-width: 512px;
    max-height: 512px;
  }
}