.proverb__text {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .proverb__text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}