.place__box {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  max-height: max-content;
  padding: 100px;
}

@media screen and (max-width: 1536px) {
  .place__box {
    padding: 90px;
  }
}

@media screen and (max-width: 1366px) {
  .place__box {
    padding: 80px;
  }
}

@media screen and (max-width: 1280px) {
  .place__box {
    padding: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .place__box {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .place__box {
    padding: 35px;
  }
}

@media screen and (max-width: 600px) {
  .place__box {
    padding: 20px;
  }
}

@media screen and (max-width: 420px) {
  .place__box {
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  .place__box {
    padding: 10px;
  }
}
