.header__link {
  color: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
  margin-top: 0;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 0;
}

.header__link:hover {
  opacity: 0.6;
  transform: all 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__link {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__link {
    margin-right: 15px;
    font-size: 14px;
  }
}
