.lead__title {
  grid-area: title;
  color: black;
  font-weight: 900;
  font-size: 37px;
  line-height: 48px; 
  padding-right: 102px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__title {

    font-size: 24px;
    line-height: 26px; 
    padding:0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    font-size: 2.34vw;
    line-height: 2.54vw; 
    padding-right: 20px;
  }
}