.place__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  width: calc(1920px/3);
}

.place__paragraph:first-of-type {
  margin-top: auto;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1920px) {
  .place__paragraph {
    width: calc(100vw/3);
  }
}

@media screen and (max-width: 1536px) {
  .place__paragraph {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1536px) {
  .place__paragraph {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .place__paragraph {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 14px;
    width: 100%;
    line-height: 1;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    line-height: 1.1;
    max-width: calc(100vw * 0.75);
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    font-size: 12px;
    max-width: calc(100vw * 0.75);
  }
}

@media screen and (max-width: 420px) {
  .place__paragraph {
    font-size: 11px;
    max-width: calc(100vw * 0.75);
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 10px;
    max-width: calc(100vw * 0.75);
  }
}
