[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 14px;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;

  left: 50%;
  transform: translate(-50%, -.5em);
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;

  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;

  bottom: calc(100% + 5px);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}
