.header__link-complaint {
  margin: 0;
  color: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}

.header__link-complaint:hover {
  opacity: 0.8;
  transform: all 0.3s;
}

@media screen and (max-width: 767px) {
  .header__link-complaint {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .header__link-complaint {
    font-size: 12px;
  }
}
