.header__link-complaint {
  margin: 0;
  color: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__link-complaint {
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__link-complaint {
    margin-top: 20px;
  }
}