.table {
  display: flex;
  flex-direction: row;
  margin-top: 135px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 150px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}