.proverbs {
  margin-top: 158px;
  margin-left: 76px;
  margin-right: 76px;
}

/* @media screen and (max-width: 767px) {
  .proverbs {
    margin-top: 280px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 0;
  }
} */

@media screen and (min-width: 320px) and (max-width: 479px) {
  .proverbs {
    margin-top: 280px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .proverbs {
    margin-top: 280px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .proverbs {
    margin-top: 280px;
    margin-left: 76px;
    margin-right: 76px;
    margin-bottom: 0;
  }
}