.proverbs__title {
  margin-top: 32px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 38px;
  line-height: 46px;
  max-width: 450px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .proverbs__title {
    font-size: 24px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}