.proverb {
  width: 25%;
  margin-right: 50px;
}

.proverb:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .proverb {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}