.place {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
