.place {
  width: 100%;
  max-height: 600px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "image box"
    ;
}

.place:nth-child(2n) {
  width: 100%;
  max-height: 600px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "box image"
    ;
}