.footer {
  min-height: 35.94vw;
  font-size: 1.98vw; 
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 204, 167);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    min-height: 690px;
    font-size: 38px;
  }
}