.footer {
  min-height: 960px;
  font-size: 50px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 204, 167);
}

@media screen and (max-width: 1920px) {
  .footer {
    min-height: calc(960/1920*100vw);
  }
}

@media screen and (max-width: 1536px) {
  .footer {
    min-height: calc(660/1920*100vw);
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: 30px;
    min-height: calc(500/1920*100vw);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 25px;
    min-height: 50px;
    justify-content: end;
  }
}
